{% extends "base.html" %}

{% block title %}Calculadora de Calorías para tu receta :D{% endblock title %}

{% block content %}
    <p>Preparate para descubrir mas sobre tu nutricion.</p>
    <form action="" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="pokemon_name" class="form-label text-muted">Nombre de el alimento:</label>
                        <input type="text" class="form-control form-control-lg rounded-3" id="comida_name" name="comida_name" required >
                        <div class="invalid-feedback">
                            Con usda foodDatabase ahora es mucho mas facil encontrar informacion basica de tu alimento
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary w-100 btn-lg shadow-sm mt-3 rounded-3">
                        <i class="bi bi-search me-1"></i> buscar
                    </button>
                </form>
{% endblock %}